.listItems {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.listItems-search{
    margin-left: 20%;
    width: 60em;
    margin-top: 2em;
}
.listItems-search-btn{
    margin-left: 5px;
}